﻿@using Volo.Task.Database.DepositTypes
@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@using System.Web.Optimization
@model DepositModel

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<div class="div_add" style="display:inline-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p style="font-size:17px;font-weight:bold;">Add deposit for @Model.Client.FirstName @Model.Client.LastName</p>

        @Html.Hidden("ClientId", Model.Client.Id)

        @Html.Label("Select Bank")
        @Html.DropDownList("BankName", new SelectList(Model.Banks.Select(b => b.Name)), new { @class = "textBox" })<br />

        @Html.Label("Select Deposit Type")
        @Html.Label("Deposit type must be selected", new { id = "validationMessageForDepositType", @class = "field-validation-error", hidden = "hidden" })
        @Html.DropDownList("DepositType", new SelectList(Model.DepositTypes), new { @class = "textBox", onchange = "ShowInfo();  ReckonProfit();" })

        @Html.Label("Select Deadline")<br />
        @Html.ValidationMessageFor(m => m.Deadline)
        @Html.Label(" ", new { id = "validationMessageForDeadline", @class = "field-validation-error", hidden = "hidden" })
        @Html.TextBoxFor(m => m.Deadline, new { @class = "textBox", type = "date" , onchange =  "ReckonProfit();"})

        @Html.Label("Insert Amount")<br />
        @Html.ValidationMessageFor(m => m.Amount)
        @Html.Label(" ", new { id = "validationMessageForAmount", @class = "field-validation-error", hidden = "hidden" })
        @Html.TextBoxFor(m => m.Amount, "", new { @class = "textBox", placeholder = "Amount" , onkeyup = "ReckonProfit();", onkeydown = "ReckonProfit();" })<br />



        @Html.Label("Your profit is")
        <p id="Profit"></p>

        @Html.ValidationSummary()
        <br /><br />



        <button type="button" class="btn_add btn btn-xs" onclick="ReckonProfit()"><img class="middleIco" src="~/Content/Icons/calculate-ico.png" /> Calculate profit</button>
        <br /><br />
        <button type="button" class="btn_cancel btn btn-xs" onclick="history.back()"><img class="smallIco" src="~/Content/Icons/cancel-ico.png" /> Back</button>

        <button disabled class="btn_add btn btn-xs" id="addDeposit" type="submit" value="Add Bank"><img class="middleIco" src="~/Content/Icons/save-ico.png" /> Add Deposit</button>

    }
</div>



<div id="depositInformation" class="table table-striped table-condensed table-responsive table-hover" style="float:right; margin-top:0px;">
    <table>
        <thead>
            <tr>
                <th>Deposit Type</th>
                <th>Minimal amount</th>
                <th>Maximal amount</th>
                <th>Minimal term</th>
                <th>Maximal term</th>
            </tr>
        </thead>
        <tbody id="tableData"></tbody>
    </table>
</div>

@section addDeposit  {
    @Scripts.Render("~/AddDepositVal")
<script type="text/javascript">
    var depositTypes;
    function ShowInfo() {

        var depositName = document.getElementById("DepositType").value;
        $.ajax(
            {

                url: "@Url.Action("DepositInfo")",
                type: "GET",
                data: "depositName=" + depositName,
                success: function (data) {
                    depositTypes = data;
                    //  console.log("depositTypes from ajax" + depositTypes);
                    //  console.log(depositTypes);
                    var target = $('#tableData');
                    target.empty();
                    for (var i = 0; i < data.length; i++) {
                        target.append("<tr><td>" + data[i].Name + "</td><td>"
                        + data[i].MinAmount + "</td><td>"
                        + data[i].MaxAmount + "</td><td>"
                        + data[i].MinTerm + "</td><td>"
                        + data[i].MaxTerm + "</td></tr>");
                    }
                }

            })
    }
</script>

<script>ShowInfo()</script>
}