﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model IEnumerable<DepositModel>

@{ 
    if (ViewBag.Message !=null)
    {
        <script>MySuccessMessage("@ViewBag.Message")</script>
    }
}
<h2>All deposits</h2>

<table class="table table-striped table-condensed table-responsive table-hover">
    <thead>
        <tr>
            <td>Client's first name</td>
            <td>Client's last name</td>
            <td>Bank</td>
            <td>Deposit type</td>
            <td>Amount</td>
            <td>Start date</td>
            <td>Deadline</td>
            <td>Profit</td>
            <td>Status</td>

        </tr>
    </thead>
    <tbody>
        @foreach (DepositModel item in Model)
        {

            <tr>
                <td>@Html.ActionLink(linkText: @item.Client.FirstName, actionName: "ClientPage", controllerName: "Client", routeValues: new { @item.Client.Id }, htmlAttributes: null)</td>
                <td>@Html.ActionLink(linkText: @item.Client.LastName, actionName: "ClientPage", controllerName: "Client", routeValues: new { @item.Client.Id }, htmlAttributes: null)</td>
                <td>@Html.ActionLink(linkText: @item.Bank.Name, actionName: "BankPage", controllerName: "Bank", routeValues: new { item.Bank.Id }, htmlAttributes: null)</td>
                <td>@item.DepositType.Name @item.DepositType.InterestRate%</td>
                <td>@item.Amount.ToString("N")</td>
                <td>@item.StartDate</td>
                <td>@item.Deadline
                <td>@item.Profit</td>
                <td>@item.Status</td>
                <td><img class="middleIco" src="~/Content/Icons/delete-ico.png" onclick='return MyConfirm("Are you sure want to delete @item.DepositType.Name deposit for  @item.Client.FirstName @item.Client.LastName ?" ,"@Url.Action("Delete","Deposit",new {depositId = item.Id})")' onmouseover='style="cursor: pointer;"' /> </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group ">
    @Html.AddPegination((int)@ViewBag.PageCount, m => Url.Action("All", new { page = m }))
</div>


