﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model IEnumerable<DepositModel>

<table>
    <thead>
        <tr>
            <td>Deposit type</td>
            <td>Client's first name</td>
            <td>Client's last name</td>
            <td>Amount</td>
            <td>Start date</td>
            <td>Deadline</td>
        </tr>
    </thead>
    @foreach (DepositModel item in Model)
    {
        <tbody>
            <tr>
                <td>@item.DepositType.Name</td>
                <td>@item.Client.FirstName</td>
                <td>@item.Client.LastName</td>
                <td>@item.Amount</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.Deadline.ToShortDateString()</td>
            </tr>
        </tbody>
    }
</table>
