﻿@model Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel.ClientModel


@{

    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "content",
        LoadingElementId = "loadingElement"
    };

    if (ViewBag.UseAsPartial != null && ViewBag.UseAsPartial)
    {
        Layout = null;
    }

}

<div class="div_add">
    @using (Ajax.BeginForm("AddClient", "Client", ajaxOptions))
    {
        @Html.AntiForgeryToken()
        @Html.Label("First name")<br />
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "textBox", placeholder = "First name" })<br />

        @Html.Label("Last name")<br />
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "textBox", placeholder = "Last name" })<br />

        @Html.Label("Birthday")<br />
        @Html.ValidationMessageFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday, new { @class = "textBox", type = "date" })<br />

        @Html.Label("Passport")<br />
        @Html.ValidationMessageFor(m => m.Passport)
        @Html.TextBoxFor(m => m.Passport, new { @class = "textBox", placeholder = "Passport" })<br />

        @Html.Label("Email")<br />
        @Html.ValidationMessageFor(m => m.Email)<br />
        @Html.TextBoxFor(m => m.Email, new { @class = "textBox", placeholder = "Email" })<br />

        @Html.Label("Phone")<br />
        @Html.ValidationMessageFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "textBox", placeholder = "Phone" })<br />
        <br />
        <br />

        @Html.ValidationSummary()

        <button class="btn_add btn btn-xs" type="submit" value="Add Bank"><img class="middleIco" src="~/Content/Icons/save-ico.png" /> Add Client</button>
        <img id="loadingElement" src="~/Content/Icons/loading-gif.gif" style="height:30px;width:30px;display:none " />

    }

</div>





@section ajaxScript
{
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
}
