﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model IEnumerable<ClientModel>

@{
    if (ViewBag.UseAsPartial != null && ViewBag.UseAsPartial)
    {
        Layout = null;
        <script> MySuccessMessage("@ViewBag.Message")</script>
    }

}

<table class="table table-striped table-condensed table-responsive table-hover">
    <thead>
        <tr>
            <td>Firts Name</td>
            <td>Last Name</td>
            <td>Birthday</td>
            <td>Email</td>
            <td>Passport</td>
            <td>Phone</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(@item.FirstName, "ClientPage", new { @item.Id }) </td>
                <td>@Html.ActionLink(@item.LastName, "ClientPage", new { @item.Id })</td>
                <td>@item.Birthday.ToShortDateString()</td>
                <td>@item.Email</td>
                <td>@item.Passport</td>
                <td>@item.Phone</td>
                <td>
                    @Html.ActionLink("Add deposit","AddDeposit","Deposit",new { item.Id },null)<img class="middleIco" src="~/Content/Icons/add-ico.png" />
                </td>
                <td>
                    <img class="middleIco" src="~/Content/Icons/edit-ico.png" onclick='location.href="@Url.Action("EditClient", new { item.Id })"'  onmouseover='style="cursor: pointer;"' />
                    <img class="middleIco" src="~/Content/Icons/delete-ico.png" onclick='return MyConfirm("Are you sure want to delete client @item.FirstName @item.LastName ?" ,"@Url.Action("DeleteClient","Client",new { item.Id})")' onmouseover='style="cursor: pointer;"' /> 
                </td>
                
            </tr>
        }
    </tbody>

</table>

<div class="btn-group ">
    @Html.AddPegination((int)@ViewBag.PageCount, m => Url.Action("AllClients", new { page = m }))
</div>

<button type="button" class="btn_add btn btn-xs" onclick='location.href="@Url.Action("AddClient")"'><img class="middleIco" src="~/Content/Icons/add-ico.png" /> Add</button>
