﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model ClientModel

@{
    if (ViewBag.Message != null)
    {
        <script> MySuccessMessage("@ViewBag.Message")</script>
    }
}


<h2>Client's page</h2>

@Html.DisplayForModel()


