﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model ClientModel



<h2>Edit client</h2>

<div class="div_add">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Label("First name")<br />
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "textBox", placeholder = "First name" })<br />

        @Html.Label("Last name")<br />
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "textBox", placeholder = "Last name" })<br />

        @Html.Label("Birthday")<br />
        @Html.ValidationMessageFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday, new { @class = "textBox"})<br />

        @Html.Label("Passport")<br />
        @Html.ValidationMessageFor(m => m.Passport)
        @Html.TextBoxFor(m => m.Passport, new { @class = "textBox", placeholder = "Passport" })<br />

        @Html.Label("Email")<br />
        @Html.ValidationMessageFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "textBox", placeholder = "Email" })<br />

        @Html.Label("Phone")<br />
        @Html.ValidationMessageFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "textBox", placeholder = "Phone" })<br />
        <br />
        <br />
        @Html.ValidationSummary()

        <button type="button" class="btn_cancel btn btn-xs" onclick="history.back()"><img class="smallIco" src="~/Content/Icons/cancel-ico.png" /> Cancel</button>

        <button class="btn_add btn btn-xs" type="submit" value="Add Bank"><img class="middleIco" src="~/Content/Icons/save-ico.png" /> Save</button>

    
    }

</div>

