﻿@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Deposits&Banks</title>
    <link rel="icon" type="image/gif" href="~/Content/Icons/favicon.png" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <header class="">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:aliceblue; ">
            <div class="">
                <div class="navbar-header">
                    @Html.ActionLink("Deposits&Banks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
    </header>
    <div>

        <div class="col-lg-2" style="height:100ex; background-color:aliceblue;">
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Banks", "AllBanks", "Bank")</li>
                <li>@Html.ActionLink("Add Bank", "AddBank", "Bank")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("Clients", "AllClients", "Client")</li>
                <li>@Html.ActionLink("Add Client", "AddClient", "Client")
                <li class="nav-divider"></li>
                <li>@Html.ActionLink("Deposits", "All", "Deposit")</li>
                <li class="nav-divider"></li>
                <li>@Html.ActionLink(" Search", "Search", "Search")</li>
            </ul>
        </div>

        <div class="col-sm-10" id="content">

            @RenderBody()
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")

    @RenderSection("ajaxScript", false)
    @RenderSection("addDeposit", false)

</body>
</html>