﻿@*<div class="alert alert-success">
   @ViewBag.Message
    <button style="margin-left:45%" type="button" class="btn_add btn btn-xs" onclick='location.href="@Url.Action(@ViewBag.ActionName)"'>Ok</button>
</div>*@

<body onload="MySuccessMessage()"></body>
