﻿@using Volo.Task.Database.DepositTypes
@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel

@model IEnumerable<SearchResult>

@{
    Layout = null;
}

<table class="table table-striped table-condensed table-responsive table-hover">
    <thead>
        <tr>
            <td>Client's Name</td>
            <td>Deposit Type</td>
            <td>Bank</td>
            <td>Amount</td>
            <td>Start Date</td>
            <td>Deadline</td>
        </tr>
    </thead>

    <tbody id="resultBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(linkText: $"{@item.Client.FirstName} {@item.Client.LastName}", actionName: "ClientPage", controllerName: "Client", routeValues: new { id = item.Client.Id }, htmlAttributes: null)</td>
                <td>@AllDeposits.GetAll.Where(d => d.Id == @item.Deposit.DepositId).Select(d => d.Name).First()</td>
                <td>@Html.ActionLink(linkText: @item.Bank.Name, actionName: "BankPage", controllerName: "Bank", routeValues: new { id = item.Bank.Id }, htmlAttributes: null) </td>
                <td>@item.Deposit.Amount.ToString("N")</td>
                <td>@item.Deposit.StartDate.ToShortDateString()</td>
                <td>@item.Deposit.Deadline.ToShortDateString()</td>
            </tr>
        }
    </tbody>

</table>