﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.div_add{
    width:22%;
}


.div_search {
    width: 50%;
    height:300px;
}

.search_result{
    width:60%;
    float: left;
}

.btn_add {
    float: left;
}

.btn_cancel {
    float: right;
}

.middleIco {
    width: 20px;
    height: 20px;
}

.smallIco{
    width:10px;
    height:10px;
}

.textBox {
    width: 150%;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
   
}

.label{
    
}

.footer {
  position:fixed;
    height:50px;
    background-color:aliceblue;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.header{
    height:50px;
    background-color:aliceblue;
     bottom:-500px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}


.field-validation-error {
    color: #b10000;
    font-size: smaller;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 2px ridge #ff0000;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}