﻿@model  Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel.BankModel




<div class="div_add" >
    @using (Html.BeginForm("AddBank","Bank",FormMethod.Post,new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Label("Name")<br />
        @Html.ValidationMessageFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "textBox", placeholder = "Bank's name" })
        <br /><br />

        @Html.Label("Description")<br />
        @Html.ValidationMessageFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "textBox", placeholder = "Description", })
        <br /><br />
        @Html.ValidationSummary()
        @Html.Label("Icon")<br />

        <img id="output" width="75" height="75" src="~/Content/Images/Banks_Icons/DefaultBankIco.jpg" />

        @Html.TextBox("Ico", "", new { type = "file", onchange = "loadFile(event)", style = "visibility:hidden;" })

        <button type="button" class="btn_add btn btn-xs" onclick="resetIcon(); document.getElementById('Ico').click()"><img class="middleIco" src="~/Content/Icons/change-ico.png" /> Change icon</button>
        <button type="button" class="btn_cancel btn btn-xs" onclick='document.getElementById("output").src ="/Content/Images/Banks_Icons/DefaultBankIco.jpg"'><img class="middleIco" src="~/Content/Icons/delete-ico.png" /> Restore icon</button>
        <br />
        <br />

        <button class="btn_add btn btn-xs" type="submit"  value="Add Bank"><img class="middleIco" src="~/Content/Icons/save-ico.png" /> Add bank </button>
        <img id="loadingElement" src="~/Content/Icons/loading-gif.gif" style="height:30px;width:30px;display:none"; />

    }
</div>

