﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model IEnumerable<BankModel>

@{

    if (ViewBag.Message != null)
    {
        <script> MySuccessMessage("@ViewBag.Message")</script>
    }
 

    ViewBag.Title = "Index";
}

<table class="table table-striped table-condensed table-responsive table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Bank Name</td>
            <td>Bank Deskription</td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
            {
            <tr>

                <td><img src="@Url.Content($"~/{item.Ico}")" onerror="this.src='@Url.Content("~/Content/Images/Banks_Icons/DefaultBankIco.jpg")'" style="width:25px;height:25px;" alt="bank" /></td>

                <td>@Html.ActionLink(@item.Name, "BankPage", new { item.Id }) </td>
                <td>@item.Description</td>
                <td>@Html.ActionLink("Deposits","All","Deposit",new {id = item.Id },null)<img class="middleIco" src="~/Content/Icons/deposit-ico.png" /></td>
                <td>
                    <img class="middleIco" src="~/Content/Icons/edit-ico.png" onclick='location.href="@Url.Action("EditBank",new { item.Id })"' onmouseover='style="cursor: pointer;"' /> 
                    <img class="middleIco" src="~/Content/Icons/delete-ico.png" onclick='location.href="@Url.Action("DeleteBank","Bank",new { item.Id})"' onmouseover='style="cursor: pointer;"'/>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group ">
      @Html.AddPegination((int)@ViewBag.PageCount,m => Url.Action("AllBanks", new { page = m }))
</div>

<div style="float:right">
    <button type="button" class="btn_add btn btn-xs" onclick='location.href="@Url.Action("AddBank","Bank")"'><img class="middleIco" src="~/Content/Icons/add-ico.png" /> Add</button>
</div>
