﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model BankModel

@{
    if (ViewBag.Message != null)
    {
        <script> MySuccessMessage("@ViewBag.Message")</script>
    }
}




<h2>Bank page</h2>

<table>
    <thead>
        <tr>
            <td></td>
            <td>Bank's name</td>
            <td>Bank's description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="@Url.Content($"~/{Model.Ico}")" onerror="this.src='@Url.Content("~/Content/Images/Banks_Icons/DefaultBankIco.jpg")'" style="width:50px;height:50px;" /></td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>
