﻿@model List<Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel.DepositModel>

@{
    if (ViewBag.Message != null)
    {
        <script> MySuccessMessage("@ViewBag.Message")</script>
    }
}


<p>@Model.Select(m=>m.Bank.Name).Last() 's deposits</p>

@using (Html.BeginForm())
{
  

<table>
    <thead>
        <tr>
            <th>Client's Name</th>
            <th>Deposit's Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)

        {
            @Html.HiddenFor(m=>m[i].Client.Id )
            @Html.HiddenFor(m => m[i].DepositType.Id)
         
            <tr>
                <td>@Html.DisplayFor(m=>m[i].Client.FirstName)</td>
                <td>@Html.DisplayFor(m=>m[i].DepositType.Name)</td>
                <td>@Html.DropDownListFor(m=>m[i].Bank.Name, new SelectList(Model[i].Banks.Where(b=>b.Id != Model.Select(m=>m.Bank.Id).Last()).Select(b => b.Name)))</td>
            </tr>
        }
    </tbody>
</table>

<input type="submit" value="Save" />
}
