﻿@using Volo.Task.Manucharyan_Ruben.Areas.Admin.ViewModel
@model BankModel

<h2>Edit bank</h2>

<div class="div_add">
    @using (Html.BeginForm("EditBank", "Bank", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Label("Name")<br />
        @Html.ValidationMessageFor(m=>m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "textBox", placeholder = "Bank's name" })
        <br /><br />

        @Html.Label("Description")<br />
        @Html.ValidationMessageFor(m=>m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "textBox", placeholder = "Description" })
        <br /><br />
        @Html.ValidationSummary()

        @Html.Label("Icon")<br />

        <img id="output" src="@Url.Content($"~/{Model.Ico}")" onerror="this.src='@Url.Content("~/Content/Images/Banks_Icons/DefaultBankIco.jpg")'" style="width:75px;height:75px;" alt="bank" />

        @Html.TextBox("Ico", "", new { type = "file", onchange = "loadFile(event)", style = "visibility:hidden;" })
        

        <button type="button" class="btn_cancel btn btn-xs" onclick='resetIcon();document.getElementById("output").src ="@Url.Content($"~/{Model.Ico}")"'><img class="middleIco" src="~/Content/Icons/delete-ico.png" />Restore icon</button>


        <button type="button" class="btn_add btn btn-xs" onclick="document.getElementById('Ico').click()"><img class="middleIco" src="~/Content/Icons/change-ico.png" /> Change icon</button>

        <br />
        <br />

        <button type="button" class="btn_cancel btn btn-xs" onclick="history.back()"><img class="smallIco" src="~/Content/Icons/cancel-ico.png" /> Cancel</button>

        <button class="btn_add btn btn-xs" type="submit" value="Sace Changes"><img class="middleIco" src="~/Content/Icons/save-ico.png" /> Save Changes</button>

    }

</div>


